

.radio{
	margin-right: 15px;
}

body{
}

header{
	height: 100px;
	background-image: url("./images/dark.png");
	display: inline-block;
	padding-top: 25px;
	padding-left: 15px;

}

.logo{
	color: white;
}

.box{
	height: 100px;
	width: 100px;
	background-color: blue;
}

.center{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	width: 150px;
}

a:hover{
	color: white;
}

a:visited{
	color: green;
}

a{
	color: green;
}

.surveyP{
	margin-top: 20px;
	margin-bottom: -1px;
}

.indent{
	margin-left: 20px;
}

.radio{
	margin-left: 5px;
}

.enter{
	margin-top: 40px;
}

#footer {
 position: absolute;
  right: 0;
  bottom: 0;
  color: green;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-image: url("./images/dark.png");

}